<div class="container mt-5">
  <div class="row">
    <app-spinner *ngIf="isLogged" class="mt-5"></app-spinner>
    <div class="col-12" *ngIf="!isLogged">
      <form
        class="mb-3 w-50 m-auto"
        [formGroup]="loginForm"
        (ngSubmit)="onLogin()"
      >
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          name="email"
          id="email"
          placeholder="abc@mail.com"
        />

        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          name="password"
          id="password"
        />

        <button
          class="btn btn-primary mt-4"
          type="submit"
          [disabled]="this.loginForm.invalid"
        >
          Login
        </button>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="!isLogged">
    <div class="w-50 m-auto">
      Not a user? <a routerLink="/auth/register">Register Now</a>
    </div>
  </div>
</div>
